body {
  margin: 0;
  background: #eeeeee;
  font-family: Arial, sans-serif;
}

#app,
body,
html {
  height: 100%;
}
#app header {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  font-size: 1.3em;
  padding: 1em;
}

#app {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
}

#app,
body,
html {
  height: 100%;
}

#app main {
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  overflow: auto;
  flex-basis: 0;
  -webkit-box-flex: 1;
}

.navbar {
  margin-bottom: 0px;
}

.avatar {
  border-radius: 50%;
  height: 46px;
  width: 46px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.39);
}

#root {
  height: 100%;
}

.box {
  padding: 1em;
  background-color: #fff;
  margin: 20px;
}

.userBlock {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.userBlock .email {
  font-size: 12px;
}
.userBlock .details {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column; /* Safari 6.1+ */
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border: none;
  font-size: 1em;
  padding: 5px;
  border-radius: 2px;
}

.chatBox {
  width: 350px;
}
